node_modules/
# Keep environment variables out of version control
.env
.github/
migrations/
photos/
test_*
test.py
_User__202405231820.csv
inital_photos/Text_sentiment_analysis_Based_on_Depth_Learning_Model.pdf